html {
  height: 100vh;
}

body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
}

.main {
  width: 30%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 10px ridge rgb(50, 46, 44);
  text-align: center;
}

.steps,
.counts {
  display: flex;
  gap: 5px;
}
